@model IEnumerable<Examination.Models.student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stud_Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stud_Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stud_Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stud_pw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dept)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stud_Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stud_Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stud_Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stud_pw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dept.dept_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.stud_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.stud_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.stud_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
