@*@model IEnumerable<Examination.Models.course>*@
@using Examination.Models;
@using System.Collections;



@model dynamic;



@{
    ViewData["Title"] = "stud_details";
    student std = @Model.student;
    department dpt = std.dept  ;
    SelectList sl = new SelectList(@Model.courses, "c_name", "c_name");

    
}

@*<div>
    <div>
        <select>
@{
if(Model!=null)
foreach(var x in Model){
    <option>@x.c_name</option>
}
}

}
</select>

<input type="button" class="btn-primary" value="Start Exam"/>
    </div>
    <div>
        <a asp-action="stud_details2"> student details</a>
    </div>
</div>*@
<html>
    <head>
        <style>
            .main{
                display:flex;
                flex-direction:column;
        
            }
            .details{
                border:1px solid gray;
                width:300px;
                height:200px;
                padding:5px;

            }
            select{
                display:block;
            }

        </style>
        <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css"/>
    </head>
    <body>     

        <div class="row bg-dark text-white w-25 ">
 
         <hr />
         <dl class="row col-sm-12 ">
            <dt class = "col-sm-5 ">
             ID :
             </dt>
            <dd class = "col-sm-7">
            @std.stud_ID
            </dd>

         <dt class = "col-sm-5 ">
             Name :
        </dt>
        <dd class = "col-sm-7">
            @(std.stud_Fname + " " + @std.stud_Lname)
        </dd>

        <dt class = "col-sm-5 ">
            Department :
        </dt>
        <dd class = "col-sm-7">
            @dpt.dept_name
        </dd>
    </dl>
    <div>
        <form method="POST" action="StartExam">
            <select asp-items="sl" name="courseName" class="m-1"></select>
   
            <input type="submit"  value="Start Exam" class="btn-primary btn m-1 "/> 
        </form>

    </div>
    

</div>

           
   
</div>
    </body>
</html>



