@*@model IEnumerable<Examination.Models.course>*@
@using Examination.Models;
@using System.Collections;
@*

@using MultipleModelInOneView; *@

@model dynamic;



@{
    ViewData["Title"] = "stud_details";
    student std = @Model.student;
    department dpt = std.dept;
    
   
    
}

@*<div>
    <div>
        <select>
@{
if(Model!=null)
foreach(var x in Model){
    <option>@x.c_name</option>
}
}

}
</select>

<input type="button" class="btn-primary" value="Start Exam"/>
    </div>
    <div>
        <a asp-action="stud_details2"> student details</a>
    </div>
</div>*@
<html>
    <head>
        <style>
            .main{
                display:flex;
                flex-direction:column;
        
            }
            .details{
                border:1px solid gray;
                width:300px;
                height:200px;
                padding:5px;

            }
            select{
                display:block;
            }

        </style>
        <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css"/>
    </head>
    <body>
       <div class="container main">
            <div class="details bg-dark rounded-3">
                <p class="text-white"> ID :@std.stud_ID</p>
                 <p class="text-white"> NAME :@(std.stud_Fname +" "+ @std.stud_Lname)</p>
                   <p class="text-white">DEPT ID :@dpt.dept_name</p>
            </div>
       <div class="courses">
        <form method="POST" action="StartExam">
    @*    <select name="courseName">
    @{
        foreach(course c in Model.courses){
                        <option value="@c.c_name">@c.c_name</option>

            }}
    </select>*@

    @{
       SelectList sl = new SelectList(@Model.courses, "c_name", "c_name");
       //@Html.DropDownList("courseName",sl,"Select Course");

       
    <select asp-items="sl" name="courseName">

    </select>
     }

    <input type="submit"  value="Start Exam" class="btn-primary"/> <!--here is tsrt exam action ->
        </form>
    </div>
</div>
    </body>
</html>



